* {
  box-sizing: border-box;
}
h2 {
  text-align: center;
  color:#595959;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.main {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  justify-content: flex-start;
  gap: 5%;
  padding: 20px 20px 0px 20px;
}

.cardHistorico{
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  color: #595959;
  padding: 20px;

}

.cardHistorico ul li{
  list-style: none;
  margin-bottom: 10px;
  background-color: #FFFFFF;
}
.container {
  text-align: center;
}

.container input {
  display: block;
  margin: 10px auto;
}

.message-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.message-item {
  margin: 5px;
}

@media (max-width: 600px) {
  .container input {
    width: 80%;
  }

  .message-item {
    width: 100%;
  }
}
