<h2>Último carro detectado:</h2>
<div class="message-container">
  <div *ngFor="let mensagem of mensagensRecebidas" class="message-item">
    <img *ngIf="isBase64Image(mensagem.payload.toString())" [src]="mensagem.payload.toString()" alt="Imagem Recebida">
  </div>
</div>
<hr>
<div class="historico">
  <h2>Histórico de entrada de carros:</h2>
  <table *ngFor="let dado of dados">
    <tr><img [src]="dado.img" alt="Imagem capturada do carro" style="max-width: 200px;"></tr>
    <tr>Carro com placa {{ dado.placa }} às {{ dado.dataHora }}</tr>
    <tr>Motorista: {{ dado.nome }} - {{ dado.matricula }}</tr>
    <br>
    <br>
  </table>
</div>
<!-- <hr>
<label for="fileInput">Mensagem para envio:</label>
<br>
<div class="container">
  <input type="file" (change)="handleFileInput($event)" accept="image/*" id="fileInput">
</div>
<br>
<p-button (click)="enviarMensagem()" label="Enviar"></p-button> -->