<div class="p-titulo">Último veículo detectado:</div>
<div class="message-container" *ngIf="mensagem">
    <div class="message-img">
        <img [src]="mensagem.img" alt="Imagem Recebida" style="max-width: 400px;">
    </div>
    <div class="message-dados">
        <p>Motorista: {{ mensagem.nomePessoa }}</p>
        <p>Vínculo: {{mensagem.vinculo}} </p>
        <p>{{mensagem.tipoId}}: {{mensagem.idPessoa}}</p>
        <p>Placa: {{ mensagem.placa }} </p>
        <p>Entrada: {{ mensagem.dataHora }}</p>
    </div>
</div>  
<div *ngIf="!mensagem">
    <div class="message-container">
        <p>Nenhum veículo reconhecido</p>
    </div>
</div>