.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px){
    .botoes {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .links, .logout {
        width: 100%;
        justify-content: flex-start;
    }
}