<div class="botoes">
    <div class="p-titulo">Menu</div>
    <div class="links" [ngStyle]="{backgroudColor: 'var(--teal-50)'}" >
        <button pButton pRipple class="p-button-secundary" (click)="lista()" id="lista" label="Registros" icon="pi pi-list"></button>
        <button pButton pRipple class="p-button-secundary" (click)="mqtt()" id="mensagens" label="Histórico de Entrada" icon="pi pi-info"></button>
        <button pButton pRipple class="p-button-secundary" (click)="scanner()" id="scanner" label="Pesquisa com QRcode" icon="pi pi-qrcode"></button>
        <button *ngIf="admin" pButton pRipple class="p-button-secundary" (click)="cadastrar()" id="cadastrar" label="Cadastrar Registro" icon="pi pi-plus"></button>
        <button *ngIf="admin" pButton pRipple class="p-button-secundary" (click)="usuario()" id="usuario" label="Cadastrar Usuário" icon="pi pi-plus"></button>
        <button *ngIf="admin" pButton pRipple class="p-button-secundary"  id="cadastrarVistirante" label="Cadastrar Visitante" icon="pi pi-plus"></button>
        <button *ngIf="admin" pButton pRipple class="p-button-secundary" (click)="usuario()" id="Dados" label="Editar Dados" icon="pi pi-plus"></button>
        <button pButton pRipple class="p-button-secundary" (click)="logout()" id="logout" label="Sair" icon="pi pi-sign-out"></button>
    </div> 
</div>
