.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px){
    .botoes {
        width: 50%;
    }
}