<app-menu></app-menu>
<br>
<br>
<h2>Veículos registrados</h2>
<br>
<br>
<div *ngIf="tipo_pesquisa == 1" class="input-group">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input [(ngModel)]="placaPesquisada" (keyup)="filtrarPlacas()" class="pesquisar" pInputText
            placeholder="Pesquisar por placa...">
    </span>
    <p-button size="small" [text]="true" severity="secondary" label="Mudar filtro" (click)="trocarPesquisa()">
    </p-button>
</div>
<div *ngIf="tipo_pesquisa == 2" class="input-group">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Pesquisar por etiqueta..." class="pesquisar" [(ngModel)]="etiquetaPesquisada"
            (keyup)="filtrarEtiquetas()">
    </span>
    <p-button size="small" [text]="true" severity="secondary" label="Mudar filtro" (click)="trocarPesquisa()">
    </p-button>
</div>
<div *ngIf="tipo_pesquisa == 3" class="input-group">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Pesquisar por nome..." class="pesquisar" [(ngModel)]="nomePesquisado" (keyup)="filtrarNome()">
    </span>
    <p-button size="small" [text]="true" severity="secondary" label="Mudar filtro" (click)="trocarPesquisa()">
    </p-button>
</div>
<div *ngIf="carregando">
    <h2>
        Aguarde, carregando dados...
    </h2>
    <h2>
        <p-progressSpinner></p-progressSpinner>
    </h2>
</div>
<div *ngIf="!carregando">
    <p-table [value]="dadosFormulario" styleClass="p-datatable-gridlines" [rows]="100" [paginator]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} a {last} de {totalRecords}" [rowsPerPageOptions]="[100, 200, 400]"
        selectionMode="single" [(selection)]="dadoSelecionado" dataKey="Matricula">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Modelo">Modelo do carro <p-sortIcon field="Modelo"></p-sortIcon>
                </th>
                <th pSortableColumn="Marca">Marca do carro <p-sortIcon field="Marca"></p-sortIcon>
                </th>
                <th pSortableColumn="Placa">Placa do carro <p-sortIcon field="Placa"></p-sortIcon>
                </th>
                <th pSortableColumn="Ano">Ano do carro <p-sortIcon field="Ano"></p-sortIcon>
                </th>
                <th pSortableColumn="Aluno">Nome do aluno/servidor <p-sortIcon field="Aluno"></p-sortIcon>
                </th>
                <th pSortableColumn="Matricula">Matrícula <p-sortIcon field="Matricula"></p-sortIcon>
                </th>
                <th pSortableColumn="codigoEtiqueta">Código da etiqueta <p-sortIcon field="codigoEtiqueta">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="validadeEtiqueta">Validade da etiqueta <p-sortIcon field="validadeEtiqueta">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="CNHvalida">CNH válida <p-sortIcon field="CNHvalida"></p-sortIcon>
                </th>
                <th *ngIf="admin">
                    Opções
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dados>
            <tr [pSelectableRow]="dadosFormulario">
                <td> {{ dados.Modelo }} </td>
                <td> {{ dados.Marca }}</td>
                <td> {{ dados.Placa }}</td>
                <td> {{ dados.Ano }} </td>
                <td> {{ dados.Aluno }} </td>
                <td> {{ dados.Matricula }} </td>
                <td> {{ dados.codigoEtiqueta }} </td>
                <td> {{ dados.validadeEtiqueta }} </td>
                <td> {{ dados.CNHvalida }} </td>
                <td *ngIf="admin">
                    <p-button *ngIf="admin" (click)="editarDados(dados.Placa)" label="Editar" [text]="true" icon="pi pi-file-edit">
                    </p-button>
                    <br>
                    <p-button *ngIf="admin" (click)="deletarDados(dados.Placa)" [text]="true" label="Excluir" severity="danger" icon="pi pi-trash">
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>