h2 {
    text-align: center;
}

.input-group input {
    width: 100%;
    flex: 1
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .input-group {
        flex-direction: column; /* Empilhar elementos na vertical em telas menores */
        align-items: flex-start; /* Alinhamento à esquerda em telas menores */
    }

    .input-group input {
        margin-bottom: 10px; /* Adicionar espaço entre o input e o botão em telas menores */
    }

    p-button {
        width: 100%; /* Botão ocupa a largura total em telas menores */
    }
}