h2 {
    text-align: center;
}

.input-group input {
    width: 100%;
    flex: 1
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}