h2 {
    color: #595959;
    text-align: center;
}
.main {
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    justify-content: flex-start;
    gap: 5%;
    padding: 20px 00% 0px 8%;
}
.sub-main{
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.alerta{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    gap: 2%;
    border: none;
    background-color: transparent;
}

.icon{
    background-color: #D54C5B;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    justify-items: center;
    text-align: center;
    padding-top: 4px;
}
.mensagem-alerta{
    background-color: #F1D6D9;
    width: 300px;
    height: 35px;
    border-radius: 4px;
    padding: 2px;
    text-align: center;
    padding-top: 8px;
}
.input-group input {
    width: 100%;
    flex: 1;
}
.input-group {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    padding: auto;
}
.input-group p-button{
    border-radius: 25px;
}

.p-input-icon-left{
    width: 30%;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
h2{
    color: #595959;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.listaVeiculos{
    width: 85%;
    margin: auto;
    justify-content: center;
}
.special-cell {
    width: 100px;  /* Modificando a largura das células dessa linha */
  }
.dadosEtiqueta {
    color:#595959;
    text-align: center;


}
.dadosEtiqueta p{
    font-weight: bold;
}
.listaVeiculos{
    border-color: #595959;
}
.dados {
    color:#595959
}
.dados p{
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .input-group {
        flex-direction: column; /* Empilhar elementos na vertical em telas menores */
        align-items: flex-start; /* Alinhamento à esquerda em telas menores */
    }

    .input-group input {
        margin-bottom: 10px; /* Adicionar espaço entre o input e o botão em telas menores */
    }

    p-button {
        width: 100%; /* Botão ocupa a largura total em telas menores */
    }
}