<section class="main">
    <app-menu></app-menu>
    <div class="sub-main">
        <button class="alerta" [routerLink]="['/visitante']">
            <div class="icon"><i class="pi pi-exclamation-triangle" style="color: white; font-size: 25px"></i></div>
            <div class="mensagem-alerta"> Você tem visitas agendadas para hoje</div>
        </button>
        <div *ngIf="!carregando_ult_msg">  
            <app-ultima-msg></app-ultima-msg>
        </div>
    </div>
</section>
<div *ngIf="carregando_ult_msg">
    <h2>
        Aguarde, carregando dados...
    </h2>
    <h2>
        <p-progressSpinner></p-progressSpinner>
    </h2>
</div>
<h2>Veículos registrados</h2>

<div *ngIf="tipo_pesquisa == 1" class="input-group">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input [(ngModel)]="placaPesquisada" (keyup)="filtrarPlacas()" class="pesquisar" pInputText
            placeholder="Pesquisar por placa...">
    </span>
    <p-button [raised]="true" [ngStyle]="{backgroundColor:'#459e48', color: 'white'}" label="Mudar filtro" (click)="trocarPesquisa()">
    </p-button>
</div>
<div *ngIf="tipo_pesquisa == 2" class="input-group">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Pesquisar por etiqueta..." class="pesquisar" [(ngModel)]="etiquetaPesquisada"
            (keyup)="filtrarEtiquetas()">
    </span>
    <p-button [raised]="true" [ngStyle]="{backgroundColor:'#459e48', color: 'white'}" label="Mudar filtro" (click)="trocarPesquisa()">
    </p-button>
</div>
<div *ngIf="tipo_pesquisa == 3" class="input-group">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Pesquisar por nome..." class="pesquisar" [(ngModel)]="nomePesquisado" (keyup)="filtrarNome()">
    </span>
    <p-button [ngStyle]="{backgroundColor:'#459e48', color: 'white'}"label="Mudar filtro" (click)="trocarPesquisa()" [raised]="true">
    </p-button>
</div>
<div *ngIf="carregando">
    <h2>
        Aguarde, carregando dados...
    </h2>
    <h2>
        <p-progressSpinner></p-progressSpinner>
    </h2>
</div>
<div *ngIf="!carregando" class="listaVeiculos">  
    <br>
    <p-table [value]="dadosFormulario" showGridlines styleClass="p-datatable-gridlines" [rows]="100" [paginator]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} a {last} de {totalRecords}" [rowsPerPageOptions]="[100, 200, 400]"
        selectionMode="single" [(selection)]="dadoSelecionado" dataKey="idPessoa">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Placa"> Dados do Veículo<p-sortIcon field="Modelo"></p-sortIcon>
                </th>
                <th pSortableColumn="nomePessoa" style="width:30%">Motorista<p-sortIcon field="Marca"></p-sortIcon>
                </th>
                <th pSortableColumn="codigoEtiqueta" style="width:15%">Etiqueta<p-sortIcon field="Placa"></p-sortIcon>
                </th>
                <th *ngIf="admin" style="width:5%">
                    Opções
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dados>
            <tr [pSelectableRow]="dadosFormulario" >
                <td>
                    <div class="dados">
                        <p>Modelo</p> 
                        {{ dados.Modelo }}
                        <p>Marca</p>
                        {{ dados.Marca }}
                        <p>Placa</p>
                        {{ dados.Placa }}
                        <p>Ano</p>
                        {{ dados.Ano }}
                    </div>
                </td>
                <td>
                    <div class="dados">
                        <p>Nome:</p>
                       {{ dados.nomePessoa }} 
                       <p>{{ dados.tipoId }}</p>
                       {{ dados.idPessoa }}
                       <p>Vínculo:</p>
                       {{ dados.vinculo }}
                       <p>CNH Válida:</p>
                       {{ dados.CNHvalida }}
                    </div>
                </td>
                <td>
                    <div class="dadosEtiqueta">
                        <qrcode [qrdata]="dados.codigoEtiqueta"></qrcode>
                        {{ dados.codigoEtiqueta }}
                        <p>Válido até:</p>
                        {{ dados.validadeEtiqueta }}
                    </div>
                </td>
                
                <td *ngIf="admin">
                    <p-button *ngIf="admin" (click)="editarDados(dados.Placa)" label="Editar" [text]="true" icon="pi pi-file-edit">
                    </p-button>
                    <br>
                    <p-button *ngIf="admin" (click)="deletarDados(dados.Placa)" [text]="true" label="Excluir" severity="danger" icon="pi pi-trash">
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>