h2 {
    color: #595959;
    text-align: center;
}
.main {
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    justify-content: flex-start;
    gap: 5%;
    padding: 20px 20px 0px 20px;
}

.input-group input {
    width: 100%;
    flex: 1
}
.input-group {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    padding: auto;
}
.p-input-icon-left{
    width: 30%;
}

.input-group p-button{
    height: 35px;
    border-radius: 2px;
}
.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
h2{
    color: #595959;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.listaVeiculos{
    width: 85%;
    margin: auto;
    justify-content: center;
}
.special-cell {
    width: 100px;  /* Modificando a largura das células dessa linha */
  }
.dadosEtiqueta {
    color:#595959;
    text-align: center;


}
.dadosEtiqueta p{
    font-weight: bold;
}

.dados {
    color:#595959
}
.dados p{
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .input-group {
        flex-direction: column; /* Empilhar elementos na vertical em telas menores */
        align-items: flex-start; /* Alinhamento à esquerda em telas menores */
    }

    .input-group input {
        margin-bottom: 10px; /* Adicionar espaço entre o input e o botão em telas menores */
    }

    p-button {
        width: 100%; /* Botão ocupa a largura total em telas menores */
    }
}