<app-menu></app-menu>
<br>
<br>
<div *ngIf="!admin">
    <h1>Você não tem permissão para acessar esta página.</h1>
</div>
<div *ngIf="admin">
    <h1>Edição de dados</h1>
    <p *ngIf="formInvalid" class="error-message">O formulário contém erros. Preencha todos os campos e verifique se: O ano do carro está entre 1900 e o ano atual. A placa está digitada no padrão(LLL1111 ou LLL11L1).</p>
    <p *ngIf="erroSQL" class="error-message">Não foi possível editar os dados. Verifique se não há dados incorretos e tente novamente.</p>
    <p *ngIf="cadastroSucesso" class="success-message">Dados alterados com sucesso!</p>
    <table class="forms">
        <tr>
            <td><label htmlFor="marca">Marca do carro: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="marca" [(ngModel)]="dado.marcaCarro"></td>
        </tr>
        <tr>
            <td><label htmlFor="modelo">Modelo do carro: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="modelo" [(ngModel)]="dado.modeloCarro"></td>
        </tr>
        <tr>
            <td><label htmlFor="placa">Placa do carro: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="placa" [(ngModel)]="dado.placaCarro"></td>
        </tr>
        <tr>
            <td><label htmlFor="ano">Ano do carro: </label></td>
            <td><p-inputNumber class="p-inputtext-sm" id="ano" [(ngModel)]="dado.anoCarro" [useGrouping]="false"></p-inputNumber></td>
        </tr>
        <tr>
            <td><label htmlFor="nome">Nome completo da Pessoa: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="nome" [(ngModel)]="dado.nomePessoa"></td>
        </tr>
        <tr>
            <td><label htmlFor="codigo">Código da etiqueta: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="codigo" [(ngModel)]="dado.codigoEtiqueta"></td>
        </tr>
        <tr>
            <td><label for="validade">Validade da etiqueta: </label></td>
            <td><p-calendar [(ngModel)]="dado.validadeEtiqueta" [showIcon]="true" [showTime]="true" [showSeconds]="true" dateFormat="yy-mm-dd"></p-calendar></td>
        </tr>
        <tr>
            <td><label htmlFor="cnh">CNH é válida?</label></td>
            <td><p-checkbox [(ngModel)]="dado.CNHvalida" [binary]="true" inputId="cnh"></p-checkbox></td>
        </tr>
        <br>
        <tr>
            <td>
                <p-button styleClass="p-button-text" (click)="editarDados()" label="Enviar" icon="pi pi-arrow-right"></p-button> 
            </td>
            <td><p-button label="Escanear QRcode" (click)="escanear()" icon="pi pi-camera"></p-button></td>
        </tr>
    </table>
</div>