<app-menu></app-menu>
<br>
<br>
<div *ngIf="!admin">
    <h1>Você não tem permissão para acessar esta página.</h1>
</div>
<div *ngIf="admin">
    <h1>Cadastro de dados</h1>
    <br>
    <p *ngIf="formInvalid" class="error-message">O formulário contém erros. Preencha todos os campos e verifique se: O ano do carro está entre 1900 e o ano atual. A placa está digitada no padrão(LLL1111 ou LLL11L1).</p>
    <p *ngIf="erroSQL" class="error-message">Não foi possível cadastrar. Verifique se não há dados incorretos e tente novamente.</p>
    <p *ngIf="cadastroSucesso" class="success-message">Dados cadastrados com sucesso!</p>
    <br>
    <table class="forms">
        <tr>
            <td><label htmlFor="marca">Marca do carro: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="marca" [(ngModel)]="dado.marcaCarro" required></td>
        </tr>
        <tr>
            <td><label htmlFor="modelo">Modelo do carro: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="modelo" [(ngModel)]="dado.modeloCarro" required></td>
        </tr>
        <tr>
            <td><label htmlFor="placa">Placa do carro: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="placa" [(ngModel)]="dado.placaCarro" required></td>
        </tr>
        <tr>
            <td><label htmlFor="ano">Ano do carro: </label></td>
            <td><p-inputNumber class="p-inputtext-sm" id="ano" [(ngModel)]="dado.anoCarro"
                    [useGrouping]="false"></p-inputNumber></td>
        </tr>
        <tr>
            <td><label htmlFor="nome">Nome completo do aluno: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="nome" [(ngModel)]="dado.aluno" required></td>
        </tr>
        <tr>
            <td><label htmlFor="matricula">Matrícula: </label></td>
            <td><p-inputNumber class="p-inputtext-sm" id="matricula" [(ngModel)]="dado.matriculaAluno"
                    [useGrouping]="false"></p-inputNumber></td>
        </tr>
        <tr>
            <td><label htmlFor="codigo">Código da etiqueta: </label></td>
            <td><input pInputText class="p-inputtext-sm" id="codigo" [(ngModel)]="dado.codigoEtiqueta"></td>
            <td><p-button label="Escanear" (click)="escanear()"></p-button></td>
        </tr>
        <tr>
            <td><label htmlFor="validade">Validade da etiqueta: </label></td>
            <td><p-calendar id="validade" [(ngModel)]="dado.validadeEtiqueta" [showIcon]="true" [showTime]="true" [showSeconds]="true"
                    dateFormat="yy-mm-dd"></p-calendar></td>
        </tr>
        <tr>
        <td><label htmlFor="cnh">CNH é válida?</label></td>
        <td><p-checkbox [(ngModel)]="dado.CNHvalida" [binary]="true" inputId="cnh"></p-checkbox></td>
        </tr>
        <br>
        <tr>
            <td>
                <p-button styleClass="p-button-text" (click)="addDados()" label="Enviar"></p-button>
            </td>
        </tr>
    </table>
</div>